button {
    transition-duration: 0.1s;
}

button:active {
    transform: translateY(1px);
}

.blue {
    background-color: #4299E1;
    color: white;
}

.blue:hover {
    background-color: #3F83F8;
}

.green {
    background-color: #31C48D;
    color: white;
}

.green:hover {
    background-color: #0E9F6E;
}

.red {
    background-color: #E02424;
    color: white;
}