.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.tr:nth-child(even) {
    background-color: #e5e5e5;
}

.tr:hover {
    background-color: #f9f9f9;
}
