.topNavContainer {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.topNavTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.topNavControl {
    display: flex;
    align-items: center;
}

.sideMenuContainer {
    width: 200px;
}

.sideMenuLink {
    color: blue;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-weight: bold;
}