.container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 180px;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
}

.item {
    width: 100%;
    text-align: center;
}

.selected {
    color: #646cff;
}
